<div class="page-title">
    <h1>All Technologies</h1> 
    <hr>
  </div>
  <div class="form-box main-form-box">

  <table class="table">
    <thead>
    <tr>
        <th class="table-td">Name</th>
        <th class="table-td" style="width: 12%">Picture</th>
        <th class="table-td">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(item of items) { %>
        <tr>
          <th class="table-td"><%=item.name%></th>

        <td class="table-td table-image">
         <div>
            <img style="max-width: 150px;" src="/pictures/dynamic/technology/<%=item.image_url%>" alt="">
          </div>
        </td>

        <td class="table-td table-actions">
          <div>

          <a href="/adm/pages/technology/32322332">
            <i class="fa fa-solid fa-edit"></i>
          </a>
          <span>-</span>
          <a href="">
            <i class="fa fa-solid fa-trash"></i>
          </a>

          </div>
        </td>
        </tr>
      <% }%>
    </tbody>
  </table>

</div>      
