body {
  margin: 8px;
  background: linear-gradient(90deg, rgba(3,121,113,1) 0%, rgba(6,159,149,1) 50%, rgba(3,121,113,1) 100%);
  color: white;
}

h1 {
  text-align: center;
}

.main-form-box-flex {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.main-form-box {
  display: flex;
  align-items: center;
  border-radius: 20px;  
  width: 600px;
  min-height: 400px;
}

.login-button {
  display: flex;
  justify-content: center;
}


@media (max-width: 1200px){


}
