<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link href="stylesheets/global.css" rel="stylesheet">
    <link href="stylesheets/home.css" rel="stylesheet">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
  </head>
  <body>
    <div class="main-nav-container">
      <div class="main-nav selectable-text">
        <a href="#about">Sobre</a>
        <a href="#skills">Habilidades</a>
        <a href="#project-box">Projetos</a>
        <a href="#contact">Contato</a>
      </div>
    </div>
    <div id="main-container">
      <div id="about"></div>
      <div class="top-box">
        <div id="top-box-first">
          <div>
            <div id="top-box-first-texts">
              <div>
                <h2>Olá, meu nome é</h2>
                <h1>Lucas Mella</h1>
              </div>
            </div>
            <div id="top-box-first-image">
              <img src="pictures/static/greenguy.jpg" alt="">
            </div>
          </div>
        </div>
        <div id=top-box-second>
          <div id="top-box-second-container">
            <div id="top-box-second-container-title-div">
              <h1>Sobre mim</h1>     
            </div>
            <div id="top-box-second-texts">
              <p>Sou um desenvolvedor back-end formado em engenharia de software que reside em Maringá, Paraná.</p>
              <p>Começei a programar desde a adolescência, e começei a trabalhar oficialmente em 2022.</p>
              <p>Minhas principais experiências envolvem o desenvolvimento de aplicações Web fullstack, criações de APIs backend, integrações de APIs externas entre outros.</p>
            </div>
            <div id="cv-button-container">
              <button class="main-button" id="cv-button">Baixar CV</button>
            </div>
          </div>
        </div>
      </div>

      <div id="skills"></div>

      <div id="skill-box-title">
        <h1>Principais Tecnologias</h1> 
      </div>

      <div id="skill-box-container-flex">
        <div id="skill-box-container">
          <div class="skill-box"> 
            <div class="skill-box-flex">
              <div>
                <img src="pictures/static/logos/nodejs.png" alt="">
              </div>
            </div>
            <p>NodeJS</p>
          </div>
          <div class="skill-box"> 
            <div class="skill-box-flex">
              <div>
                <img src="pictures/static/logos/typescript.png" alt="">
              </div>
            </div>
            <p>TypeScript</p>
          </div>
          <div class="skill-box"> 
            <div class="skill-box-flex">
              <div>
                <img src="pictures/static/logos/mongo.png" alt="">
              </div>
            </div>
            <p>MongoDB</p>
          </div>
          <div class="skill-box"> </div>
          <div class="skill-box"> </div>
        </div>
      </div>
      
      <div id="project-box-title">
        <h1>Principais Projetos</h1> 
      </div>

      <div id="project-box-container-flex">
        <div id="project-box-container">

        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >Agroloc</a>
          </div>
          <div class="project-box-images">
            <div>
              <img src="pictures/dynamic/ex1.png">
            </div>

            <div>
              <img src="pictures/dynamic/ex2.png">
            </div>

            <div>
              <img src="pictures/dynamic/ex3.png">
            </div>
          </div>
        </div> 


        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >Projeto 2</a>
          </div>
          <div class="project-box-images">
            <div>
              <img src="pictures/dynamic/ex1.png">
            </div>

            <div>
              <img src="pictures/dynamic/ex2.png">
            </div>

            <div>
              <img src="pictures/dynamic/ex3.png">
            </div>
          </div>
        </div> 


        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >Projeto 3</a>
          </div>
          <div class="project-box-images">
            <div>
              <img src="pictures/dynamic/ex1.png">
            </div>

            <div>
              <img src="pictures/dynamic/ex2.png">
            </div>

            <div>
              <img src="pictures/dynamic/ex3.png">
            </div>
          </div>
        </div> 


        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >Projeto 4</a>
          </div>
          <div class="project-box-images">
            <div>
              <img src="pictures/dynamic/ex1.png">
            </div>

            <div>
              <img src="pictures/dynamic/ex2.png">
            </div>

            <div>
              <img src="pictures/dynamic/ex3.png">
            </div>
          </div>
        </div> 

        </div> 
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>var exports = {};</script>
    <script src="home-test.js"></script>
  </body>
</html>
