<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/global.css" rel="stylesheet">
    <link href="stylesheets/home.css" rel="stylesheet">


  </head>
  <body>
    <div class="main-nav-container">
      <div class="main-nav">
        <a href="#home">Sobre</a>
        <a href="#about">Habilidades</a>
        <a href="#services">Projetos</a>
        <a href="#contact">Contato</a>
      </div>
    </div>
    <div class="top-box">
      <div id="top-box-first">
        <h2>Olá, meu nome é</h2>
        <h1>Lucas Mella</h1>
        <div>
          <img src="pictures/static/greenguy.jpg" alt="">
        </div>
      </div>
      <div id=top-box-second>
        <p>Sou um desenvolvedor back-end formado em engenharia de software que reside em Maringá, Paraná.</p>
        <p>Começei a programar desde a adolescência, e começei a trabalhar oficialmente em 2022.</p>
        <p>Minhas experiências envolvem principalmente o desenvolvimento de aplicações Web fullstack, criações de APIs backend, integrações de APIs externas entre outros.</p>
        </div>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/e269f9ec62.js" crossorigin="anonymous"></script>
  </body>
</html>
