<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/global.css" rel="stylesheet">
    <link href="stylesheets/home.css" rel="stylesheet">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/e269f9ec62.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <title>Lucas Mella | Desenvolvedor Backend</title>
  </head>
  <body>
  <div id="about"></div>
    <div class="main-nav-container">
      <div class="main-nav selectable-text">
        <a href="#about">Sobre</a>
        <a href="#technologies">Tecnologias</a>
        <a href="#projects">Projetos</a>
        <a href="#contact">Contato</a>
      </div>
    </div>

    <div id="fixed-icons">
      <div>
        <a href="https://github.com/LucasArthurMella" target="_blank"><i class="fa fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/lucas-arthur-campesatto-mella-661077274/" target="_blank"><i class="fa fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    
    <div id="main-container">
      <div id="about"></div>
      <div class="top-box">
        <div id="top-box-first">
          <div>
            <div id="top-box-first-texts">
              <div>
                <h2>Olá, meu nome é</h2>
                <h1>Lucas Mella</h1>
              </div>
            </div>
            <div id="top-box-first-image">
              <img src="pictures/static/greenguy.jpg" alt="">
            </div>
          </div>
        </div>
        <div id=top-box-second>
          <div id="top-box-second-container">
            <div id="top-box-second-container-title-div">
              <h1>Sobre mim</h1>     
            </div>
            <div id="top-box-second-texts">
              <p>Sou um desenvolvedor back-end formado em engenharia de software que reside em Maringá, Paraná.</p>
              <p>Começei a programar desde a adolescência, e começei a trabalhar oficialmente em 2022.</p>
              <p>Minhas principais experiências envolvem o desenvolvimento de aplicações Web fullstack, criações de APIs backend, integrações de APIs externas entre outros.</p>
            </div>
            <div id="cv-button-container">
              <a class="main-button" id="cv-button" href="documents/dynamic/cv.pdf" download>Baixar CV <i class="fa fa-solid fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div id="technologies"></div>

      <div id="skill-box-title">
        <h1>Principais Tecnologias</h1> 
      </div>

      <div id="skill-box-container-flex">
        <div id="skill-box-container">

          <div class="skill-box"> 
            <div class="skill-box-flex">
              <div>
                <img src="pictures/static/logos/nodejs.png" alt="">
              </div>
            </div>
            <p>NodeJS</p>
          </div>

          <div class="skill-box"> 
            <div class="skill-box-flex">
              <div>
                <img src="pictures/static/logos/typescript.png" alt="">
              </div>
            </div>
            <p>TypeScript</p>
          </div>

          <div class="skill-box"> 
            <div class="skill-box-flex">
              <div>
                <img src="pictures/static/logos/mongo.png" alt="">
              </div>
            </div>
            <p>MongoDB</p>
          </div>

          <div class="skill-box"> 
            <div class="skill-box-flex">
              <div>
                <img src="pictures/static/logos/rust-logo-512x512.png" alt="">
              </div>
            </div>
            <p>Rust</p>
          </div>

        </div>
      </div>
     
      <div id="projects"></div>

      <div id="project-box-title">
        <h1>Principais Projetos</h1> 
      </div>

      <div id="project-box-container-flex">
        <div id="project-box-container">

        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >Agroloc</a>
          </div>
          <div class="project-box-images" >
            <div>
              <a data-fancybox href="pictures/dynamic/ex1.png">
                <img src="pictures/dynamic/ex1.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex2.png">
                <img src="pictures/dynamic/ex2.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex3.png">
                <img src="pictures/dynamic/ex3.png">
              </a>
            </div>
          </div>
        </div> 


        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >Projeto 2</a>
          </div>
          <div class="project-box-images">
            <div>
              <a data-fancybox href="pictures/dynamic/ex1.png">
                <img src="pictures/dynamic/ex1.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex2.png">
                <img src="pictures/dynamic/ex2.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex3.png">
                <img src="pictures/dynamic/ex3.png">
              </a>
            </div>
          </div>
        </div> 


        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >Projeto 3</a>
          </div>
          <div class="project-box-images">
            <div>
              <a data-fancybox href="pictures/dynamic/ex1.png">
                <img src="pictures/dynamic/ex1.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex2.png">
                <img src="pictures/dynamic/ex2.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex3.png">
                <img src="pictures/dynamic/ex3.png">
              </a>
            </div>
          </div>
        </div> 


        <div class="project-box">
          <div class="selectable-text project-box-project-title">
            <a href="" >Projeto 4</a>
          </div>
          <div class="project-box-images">
            <div>
              <a data-fancybox href="pictures/dynamic/ex1.png">
                <img src="pictures/dynamic/ex1.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex2.png">
                <img src="pictures/dynamic/ex2.png">
              </a>
            </div>

            <div>
              <a data-fancybox href="pictures/dynamic/ex3.png">
                <img src="pictures/dynamic/ex3.png">
              </a>
            </div>
          </div>
        </div> 
        </div> 
      </div>

      <div id="project-button-container-flex">

        <div>
          <button class="main-button" id="project-button">Ver Todos Projetos</button>
        </div>

        
        <div>
          <button class="main-button" id="project-github-button">
            <a href="https://github.com/LucasArthurMella" target="_blank">
              <i class="fa fa-brands fa-github"></i> GitHub
            </a>
          </button>
        </div>

      </div>

      <div id="contact"></div>
      <div id="contact-box-title">
        <h1>Contato</h1> 
      </div>

      <div id="contact-box-container">

      <div id="contact-box-first-container">

        <div class="justify-center">
          <div id="contact-box-first-container-title-div">
            <h1 class="title-shadow">
              Minhas Redes 
            </h1>
          </div>
        </div> 

        <div id="contact-box-first-container-flex">


            <div class="justify-center" id="contact-box-first-image">
              <div>
                <img src="pictures/static/greenguy2.jpg" class="shiny-image">
              </div>
            </div>

            <div class="justify-center flex-column">

            <a href="mailto:lucasmella16@gmail.com" class="selectable-box contact-box-anchor">
             <div class="contact-box justify-center flex-column">
               <div class="contact-box-box-title">
                 <i class="fa fa-solid fa-envelope"></i> <strong>Email</strong>
               </div>
               <div class="">
                lucasmella16@gmail.com
               </div>
             </div>
            </a>

            <a href="https://github.com/LucasArthurMella" target="_blank" class="selectable-box contact-box-anchor">
             <div class="contact-box justify-center flex-column">
               <div class="contact-box-box-title">
                 <i class="fa fa-solid fa-github"></i> <strong>Github</strong> 
               </div>
               <div class="">
                LucasArthurMella
               </div>
             </div>
            </a>


            <a href="https://www.linkedin.com/in/lucas-arthur-campesatto-mella-661077274/" target="_blank" class="selectable-box contact-box-anchor">
             <div class="contact-box justify-center flex-column">
               <div class="contact-box-box-title">
                 <i class="fa fa-brands fa-linkedin"></i> <strong>Linkedin </strong>
               </div>
               <div class="">
                 Lucas Arthur Campesatto Mella
               </div>
             </div>
            </a>

            </div>

        </div>
      </div>

       <div id="contact-box-second-container">

        <div class="justify-center">
          <div id="contact-box-second-container-title-div">
            <h1 class="title-shadow">
              Fale Comigo 
            </h1>
          </div>
        </div> 

      <div id="contact-box-second-form-container">

        <form id="contact-box-second-form" class="form-box">
          
          <div class="form-container">

            <div class="input-group">

              <div class="input-container">
                <label class="input-label" for="stm_name"><i class="fa fa-solid fa-user"></i> Nome</label> 
                <input class="input" type="text" name="name" id="stm_name" required="true" minlength="3" maxlength="100">
              </div>

              <div class="input-container">
                <label class="input-label" for="stm_email"><i class="fa fa-solid fa-at"></i> Email</label> 
                <input class="input" type="email" name="email" id="stm_email" required="true" minlength="3" maxlength="200">
              </div>

              <div class="input-container">
                <label class="input-label" for="stm_subject"><i class="fa fa-solid fa-envelope-open-text"></i> Assunto</label> 
                <input class="input" type="text" name="subject" id="stm_subject" required="true" minlength="3" maxlength="100">
              </div>

              <div class="input-container">
                <label class="input-label" for="stm_message"><i class="fa fa-solid fa-comment"></i> Mensagem</label> 
                <textarea class="input textarea" name="message" id="stm_message" required="true" minlength="3" maxlength="1000"></textarea>
              </div>

            </div>

            
            <div class="input-group justify-center">
              <button class="main-button" >Enviar</button>
            </div>
          </div>

        </form>
        </div>
       </div> 

      </div> 
    </div>

    <div class="bottom-nav-container">
      <div>
        <div><strong><i class="fa fa-regular fa-copyright"></i>&nbsp;<span>2023 Lucas Mella</span></strong></div>
      </div>
      <div></div>
      <div class="bottom-nav selectable-text">
          <a href="https://github.com/LucasArthurMella" target="_blank"><i class="fa fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/in/lucas-arthur-campesatto-mella-661077274/" target="_blank"><i class="fa fa-brands fa-linkedin"></i></a>
      </div>


    </div>

    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->

    <script type="module" src="home/bundle.js" ></script>

  </body>
</html>
