/*==================*/
/*GLOBAL BEGIN* 
*==================*/
.slick-dots li button:before{
  font-size: 20px;
  line-height: 20px;
}

.selectable-text a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #00bfb3;
  text-decoration: none;
  font-size: 25px;
  padding-right: 15px;
  padding-left: 15px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, text-shadow .3s ease-in-out, border-radius .3s ease-in-out;
  border-radius: 3px;
}

.selectable-text a:hover {
  color: #023436;
  box-shadow: inset 400px 0 0 0 #00bfb3;
  text-shadow: none;
  border-radius: 20px; 
}

.selectable-box {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #00bfb3;
  text-decoration: none;
  font-size: 25px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, text-shadow .3s ease-in-out, border-radius .3s ease-in-out;
  border-radius: 20px;
}


.selectable-box:hover {
  color: #023436;
  box-shadow: inset 400px 0 0 0 #00bfb3;
  text-shadow: none;
  border-radius: 20px; 
}


.title-shadow {
  color: white;
  text-shadow: 5px 5px 9px #037971;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.shiny-image {
  max-width: 300px;
  border-radius: 50%;
  box-shadow: rgba(0,191,179, 0.4) 0px 0px 25px , rgba(0,191,179, 0.3)  0px 0px 30px, rgba(0,191,179, 0.2) 0px 0px 35px, rgba(0,191,179, 0.1) 0px 0px 40px, rgba(0,191,179, 0.05) 0px 0px 45px;
}

/*==================*/
/*GLOBAL END* 
*==================*/

/*==================*/
/*MAIN NAVBAR BEGIN*/
/*================*/
.main-nav-container {
  height: 70px; 
  background: rgb(2,39,41);
  background: linear-gradient(90deg, rgba(2,39,41,1) 0%, rgba(1,22,23,1) 50%, rgba(2,39,41,1) 100%); 
  display: flex;
  justify-content: right;
  padding-right: 10%;
  position: sticky;
  text-shadow: 5px 5px 2px #023436;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-nav {
  padding-top: 20px;
}

/*================*/
/*MAIN NAVBAR END*/
/*==============*/

/*=====================*/
/*MAIN CONTAINER BEGIN*/
/*===================*/

#main-container {
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 30px;
  background: rgb(5,80,83);
  background: linear-gradient(90deg, rgba(5,80,83,1) 0%, rgba(2,52,54,1) 30%, rgba(5,80,83,1) 100%);
  min-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 10%;
}

/*===================*/
/*MAIN CONTAINER END*/
/*=================*/

/*==============*/
/*TOP BOX BEGIN*/
/*============*/
.top-box {
  text-shadow: 5px 5px 9px #037971;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#top-box-first {
  padding-left: 0px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#top-box-first-texts h2 {
  padding-top: 20px;
  margin-bottom: 0px;
  font-size: 30px;
}

#top-box-first-texts h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 420%;
}

#top-box-first-image  {
  padding: 50px 0px 50px 12%;
}

#top-box-first div img {
  max-width: 300px;
  border-radius: 50%;
  box-shadow: rgba(0,191,179, 0.4) 0px 0px 25px , rgba(0,191,179, 0.3)  0px 0px 30px, rgba(0,191,179, 0.2) 0px 0px 35px, rgba(0,191,179, 0.1) 0px 0px 40px, rgba(0,191,179, 0.05) 0px 0px 45px;
}

#top-box-second {
  display: flex;
  align-items: center;
}

#top-box-second-container-title-div {
  font-size: 30px;
}

#top-box-second-container-title-div h1 {
  margin: 0px; 
}

#top-box-second-texts {
  font-size: 140%;
  padding-right: 50px;
}

#cv-button {
  font-size: 30px;
  margin: 0px;
  margin-top: 3%;
}
/*============*/
/*TOP BOX END*/
/*==========*/


/*================*/
/*SKILL BOX BEGIN*/
/*==============*/

#skill-box-title {
  margin-top: 150px;
  text-align: center;
  font-size: 350%;
  text-shadow: 12px 12px 1px #037971;
  color: white;
}



#skill-box-container {
  margin-left: 12%;
  margin-right: 12%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 70px;
}

#skill-box-container-flex {
  display: flex;
  justify-content: center;
}


.skill-box {
  width: 170px;
  height: 170px; 
  background: rgb(1,13,14);
  background: linear-gradient(90deg, rgba(1,13,14,1) 0%, rgba(2,32,33,1) 35%, rgba(1,13,14,1) 100%); 
  border-radius: 30%;
}

.skill-box-flex {
  display: flex;
  justify-content: center;
}

.skill-box img {
  padding-top: 20px;
  max-width: 80px; 
}

.skill-box p {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  text-shadow: 5px 5px 9px #037971;
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 500;
}


/*================*/
/*SKILL BOX END*/
/*==============*/

/*==================*/
/*PROJECT BOX START*/
/*================*/

#project-box-title {
  margin-top: 150px;
  text-align: center;
  font-size: 350%;
  text-shadow: 12px 12px 1px #037971;
  color: white;
}

#project-box-title h1 {
  margin-bottom: 40px;
}

#project-box-container {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}

#project-box-container-flex {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

.project-box {
  width: 368px;
  height: 207px; 
  background: rgb(1,13,14);
  background: linear-gradient(90deg, rgba(1,13,14,1) 0%, rgba(2,32,33,1) 35%, rgba(1,13,14,1) 100%); 
  border-radius: 10px;
  margin-top: 20px;
}


.project-box-project-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-box-project-title a {
  text-decoration: underline;
}

.project-box img {
  width: 368px;
  height: 207px; 
  border-radius: 0px 0px 10px 10px;
}

#project-button-container-flex {
  display: flex;
  justify-content: center;
}

#project-button {
  font-size: 30px;
  margin: 0px;
}

#project-github-button{
  font-size: 30px;
  margin: 0px;
  margin-left: 10px;
  padding: 15px;
}

#project-github-button a {
  color: inherit;  
  text-decoration: none;
}

/*================*/
/*PROJECT BOX END*/
/*==============*/



/*================*/
/*CONTACT BOX START*/
/*==============*/

#contact-box-title {
  margin-top: 150px;
  text-align: center;
  font-size: 350%;
  text-shadow: 12px 12px 1px #037971;
  color: white;
}

#contact-box-title h1 {
  margin-bottom: 0px;
}

#contact-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contact-box-first-container-title-div {
  font-size: 30px;
}


#contact-box-first-container-title-div h1 {
  margin-bottom: 0px;
}

#contact-box-first-container-flex{
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-box-first-image {
  padding: 30px 0px 20px 0px;
}

#contact-box-first-image .shiny-image {
  height: 100%;
}

.contact-box{ 
  padding-left: 30px;
  width: 368px;
  height: 100%; 
  background: rgb(1,13,14);
  background: linear-gradient(90deg, rgba(1,13,14,1) 0%, rgba(2,32,33,1) 35%, rgba(1,13,14,1) 100%); 
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact-box-anchor {
  font-size: 23px;
  height: 20%;
  /*height: 80px;*/
  width: 100%;
  margin-top: 15px;
}

.contact-box i {
  color: #00bfb3
}

.contact-box-box-title {
  color: white;
}

#contact-box-second-container {
  width: 100%;
}

#contact-box-second-container-title-div {
  font-size: 30px;
}


#contact-box-second-container-title-div h1 {
  margin-bottom: 0px;
}

#contact-box-second-form-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

#contact-box-second-form {
  margin-top: 30px;
  border-radius: 20px;
  width: 80%;
}

/*================*/
/*CONTACT BOX END*/
/*==============*/

@media (max-width: 1700px){

/*==================*/
/*PROJECT BOX START*/
/*================*/

#project-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*================*/
/*PROJECT BOX END*/
/*==============*/
}


@media (max-width: 1200px){

/*=====================*/
/*MAIN CONTAINER BEGIN*/
/*===================*/

#main-container {
  margin-left: 3%;
  margin-right: 3%;
}

/*===================*/
/*MAIN CONTAINER END*/
/*=================*/

/*==============*/
/*TOP BOX BEGIN*/
/*============*/
.top-box {
  margin-left: 3%;
  margin-right: 3%;
}

#top-box-first {
  justify-content: center;
}

#top-box-second-texts {
  font-size: 140%;
  padding-right: 50px;
}
/*============*/
/*TOP BOX END*/
/*==========*/


/*================*/
/*SKILL BOX BEGIN*/
/*==============*/


#skill-box-container {
  grid-template-columns: 1fr 1fr 1fr;
}

/*================*/
/*SKILL BOX END*/
/*==============*/
}



@media (max-width: 1024px){
/*==============*/
/*TOP BOX BEGIN*/
/*============*/
.top-box {
  grid-template-columns: 1fr; 
}

#top-box-first {
  padding-left: 0px;
  padding-top: 30px;
}

#top-box-first-texts {
  display: flex;
  justify-content: center;
  padding: 50px 0px 50px 0px;
}

#top-box-first-image {
  padding-top: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

#top-box-second {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

#top-box-second-texts {
  font-size: 150%;
  padding-top: 0;
  padding-left: 0px;
  padding-right: 0px; 
}

#cv-button-container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

#top-box-second-container-title-div h1 {
  text-align: center;
}
/*============*/
/*TOP BOX END*/
/*==========*/


/*================*/
/*SKILL BOX BEGIN*/
/*==============*/

#skill-box-title {
  font-size: 320%;
}


/*==============*/
/*SKILL BOX END*/
/*============*/


/*==================*/
/*PROJECT BOX START*/
/*================*/

#project-box-container {
  display: grid;
  grid-template-columns: 1fr;
}




/*================*/
/*PROJECT BOX END*/
/*==============*/


/*================*/
/*CONTACT BOX START*/
/*==============*/


#contact-box-container {
  display: grid;
  grid-template-columns: 1fr;
}


#contact-box-second-form {
  width: 90%;
}

#contact-box-second-container-title-div {
  margin-top: 60px;
}

#contact-box-second-form-container {
  padding-top: 0px;
}

/*================*/
/*CONTACT BOX END*/
/*==============*/

}




@media (max-width: 768px){

/*==================*/
/*MAIN NAVBAR BEGIN*/
/*================*/
.main-nav a {
  display: none;
}
/*================*/
/*MAIN NAVBAR END*/
/*==============*/

/*==============*/
/*TOP BOX BEGIN*/
/*============*/
#top-box-first-texts h1 {
  font-size: 355%;
}

#top-box-second-container-title-div h1 {
  font-size: 178%;
}

#top-box-second {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}
/*============*/
/*TOP BOX END*/
/*==========*/

/*================*/
/*SKILL BOX BEGIN*/
/*==============*/

#skill-box-title {
  font-size: 170%;
}

#skill-box-container {
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.skill-box {
  width: 150px;
  height: 150px;
}

.skill-box p {
  font-size: 20px;
}

/*================*/
/*SKILL BOX END*/
/*==============*/



/*================*/
/*PROJECT BOX START*/
/*==============*/


#project-button-container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-box-title {
  font-size: 170%;
}

.project-box {
  width: 240px;
  height: 135px; 
}

.project-box img {
  width: 240px;
  height: 135px; 
}

#project-button {
  font-size: 18px;
}

#project-github-button {
  margin-top: 40px;
  font-size: 18px;
}

/*================*/
/*PROJECT BOX END*/
/*==============*/

/*================*/
/*CONTACT BOX START*/
/*==============*/


#contact-box-title {
  font-size: 200%;
}

#contact-box-first-container-title-div {
  font-size: 20px;
}

.contact-box {
  width: 280px;
}

.contact-box-anchor {
  font-size: 18px;
}

#contact-box-second-container-title-div {
  font-size: 20px;
}

#contact-box-second-form .input {
  font-size: 15px;
}

#contact-box-second-form textarea {
  font-size: 15px;
}



/*================*/
/*CONTACT BOX END*/
/*==============*/


}






