
/*=====================*/
/*MAIN CONTAINER BEGIN*/
/*===================*/

body {
  min-height: 100%;
}

#main-container {
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 30px;
  background: rgb(5,80,83);
  background: linear-gradient(90deg, rgba(5,80,83,1) 0%, rgba(2,52,54,1) 30%, rgba(5,80,83,1) 100%);
  min-height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 5%;
}

/*===================*/
/*MAIN CONTAINER END*/
/*=================*/


/*===================*/
/*PROJECT SHOWCASE IMAGE START*/
/*=================*/



.project-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
}


.project-image-container {
  display: flex;
  align-items: center;
  flex-flow: column;
  max-width: 100% !important;
  min-width: 100% !important;
}

.main-image-container {
  max-width: 90% !important;
  min-width: 90% !important;
}

.main-slider-container{
  max-width: 80% !important;
  min-width: 80% !important;
}

.project-box-images {
  max-width: 100% !important;
  min-width: 100% !important;
}


.project-box-images-slider {
  margin-top: 2%;
  max-width: 100% !important;
  min-width: 100% !important;
}

.slider-image-container {
  margin-left: 0.2%;
  margin-right: 0.2%;
}

.project-box-images img {
  max-width: 100% !important;
  min-width: 100% !important;
  border-radius: 10px;
}


.project-box-images-slider img {
  border-radius: 10px;
  max-width: 100% !important;
  min-width: 100% !important;
  cursor: pointer;
}

/*===================*/
/*PROJECT SHOWCASE IMAGE END */
/*=================*/



/*===================*/
/*PROJECT SHOWCASE INFO START*/
/*=================*/

.project-info-container{
  padding-left: 4%;
  padding-right: 8%;
}

.project-info-title{
  font-size: 30px;
  color: white;
 text-shadow: 5px 5px 9px #037971;
}

.project-info-title h1{ 
  padding: 0px;
  margin: 0px;
}

.project-info-description {
  color: white;
  font-size: 140%;
}

.buttons-group{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container {
  display: inline-block !important;
}

/*===================*/
/*PROJECT SHOWCASE INFO END*/
/*=================*/


@media (max-width: 1200px){

/*=====================*/
/*MAIN CONTAINER BEGIN*/
/*===================*/

#main-container {
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 30px;
  background: rgb(5,80,83);
  background: linear-gradient(90deg, rgba(5,80,83,1) 0%, rgba(2,52,54,1) 30%, rgba(5,80,83,1) 100%);
  min-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 5%;
}

/*===================*/
/*MAIN CONTAINER END*/
/*=================*/

}

@media (max-width: 768px){

/*===================*/
/*PROJECT SHOWCASE IMAGE START */
/*=================*/

.project-showcase {
  display: grid;
  grid-template-columns: 1fr;
}

/*===================*/
/*PROJECT SHOWCASE IMAGE END */
/*=================*/

/*===================*/
/*PROJECT SHOWCASE INFO START*/
/*=================*/

.project-info-container{
  padding-left: 8%;
  padding-right: 8%;
}

.project-info-title{
  margin-top: 60px;
  text-align: center;
}

.project-info-description {
  font-size: 140%;
}


/*===================*/
/*PROJECT SHOWCASE INFO END*/
/*=================*/

}

