<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lucas Mella ADM</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/adm/main.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/e269f9ec62.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="header">
    </div>
    <div class="main-image"> 
     <img src="/pictures/static/greenguy3.jpg"> 
    </div>
    <div class="side-bar">
        <div class="side-bar-clickable">
           <div class="side-bar-clickable-text">
            <i class="fa fa-solid fa-home"></i> Home 
           </div> 
        </div>

        <div class="side-bar-header">
          <div class="side-bar-header-text">
            <i class="fa fa-solid fa-globe"></i> Main Page 
          </div>
        </div>


    </div>

    <div class="panel">
      
    </div>

    <script type="module" src="/adm-pages/bundle.js"></script>
  </body>
</html>
