
    <div id="fixed-icons">
      <div>
        <a href="<%= socials.github.url%>" target="_blank"><i class="fa fa-brands fa-github"></i></a>
        <a href="<%= socials.linkedin.url%>" target="_blank"><i class="fa fa-brands fa-linkedin"></i></a>
      </div>
    </div>
