    <footer class="bottom-nav-container">
      <div>
        <div><strong><i class="fa fa-regular fa-copyright"></i>&nbsp;<span>2024 Lucas Mella</span></strong></div>
      </div>
      <div></div>
      <div class="bottom-nav selectable-text">
        <a href="<%=socials.github.url%>" target="_blank"><i class="fa fa-brands fa-github"></i></a>
        <a href="<%=socials.linkedin.url%>" target="_blank"><i class="fa fa-brands fa-linkedin"></i></a>
      </div>
    </footer>
