
/*==================*/
/*FIXED ICONS BEGIN*/
/*================*/

#fixed-icons {
  position: fixed; 
  bottom: 20px; 
  left: 20px;
}

#fixed-icons div {
  display: flex;
  flex-direction: column; 
}

#fixed-icons div a {
  text-decoration: none;
  font-size: 25px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #023436;
  text-decoration: none;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, text-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}



#fixed-icons div a:hover {
  color: #00bfb3;
  text-shadow: none;
}

/*==================*/
/*FIXED ICONS END*/
/*================*/


@media (max-width: 1200px){


/*==================*/
/*FIXED ICONS BEGIN*/
/*================*/

#fixed-icons {
  left: 3.7%;
}


#fixed-icons div a {
  font-size: 180%;
}

/*==================*/
/*FIXED ICONS END*/
/*================*/

}


@media (max-width: 768px){


/*==================*/
/*FIXED ICONS BEGIN*/
/*================*/

#fixed-icons {
  display: none;
}

/*==================*/
/*FIXED ICONS END*/
/*================*/

}






