  <div class="page-title">
    <h1>Add Category</h1> 
    <hr>
  </div>

  <form action="/api/adm/category" method="post" class="form-box main-form-box adm-form" >
    <div class="form-container">
      <div class="input-group">
        <div class="input-container">
          <label class="input-label" for="name-pt-BR">Portuguese Name</label>
          <input class="input" type="text" name="name-pt-BR" id="name-pt-BR"> 
        </div> 
        <div class="input-container">
          <label class="input-label" for="name-en-US">English Name</label>
          <input class="input" type="text" name="name-en-US" id="name-en-US"> 
        </div> 
      </div>

    <div class="input-group">
      <button class="main-button ml-0">Create</button>
    </div>

    </div>

  </form>      
